In [25]:
#https://mungingdata.com/sqlite/create-database-load-csv-python/

In [1]:
import os
os.getcwd()

'c:\\Users\\amri.kyaruzi\\Python Projects'

In [2]:
import sqlite3
import pandas as pd
from pathlib import Path

In [3]:
Path('my_data.db').touch()

In [5]:
conn = sqlite3.connect('my_data.db')
c = conn.cursor()

In [9]:
c.execute('''CREATE TABLE my_data (Execution text, DateofBirth date, DateofOffence date,
             HighestEducationLevel text, LastName text, FirstName text, TDCJ int,
             AgeatExecution int, DateReceived date, ExecutionDate date, Race text, County text,
             EyeColor text, Weight int, Height text, NativeCounty text, NativeState text,
             LastStatement text)''')

In [7]:
data = pd.read_csv("tx_deathrow_full.csv")
data.columns

Index(['Execution', 'Date of Birth', 'Date of Offence',
       'Highest Education Level', 'Last Name', 'First Name', 'TDCJ\nNumber',
       'Age at Execution', 'Date Received', 'Execution Date', 'Race', 'County',
       'Eye Color', 'Weight', 'Height', 'Native County', 'Native State',
       'Last Statement'],
      dtype='object')

In [34]:
data.rename(columns = {"Date of Birth" : "DateofBirth", "Date of Offence" : "DateofOffence",
                       "Highest Education Level" : "HighestEducationLevel", "Last Name" : "LastName",
                       "First Name" : "FirstName", "TDCJ Number" : "TDCJ", "Age at Execution" : "AgeatExecution",
                       "Date Received" : "DateReceived", "Execution Date" : "ExecutionDate", 
                       "Eye Color" : "EyeColor", "Native County" : "NativeCounty", "Native State" : "NativeState",
                       "Last Statement" : "LastStatement"}, inplace = True)

In [37]:
data.to_sql('my_data', conn, if_exists='append', index = False)

In [39]:
c.execute('''SELECT * FROM my_data LIMIT 2''').fetchall()

[(553,
  '24/09/1983',
  '21/11/2004',
  9.0,
  'Young',
  'Christopher Anthony',
  999508,
  34,
  '31/03/2006',
  '17/07/2018',
  'Black',
  'Bexar',
  'Brown',
  216.0,
  '6\' 1"',
  'Bexar',
  'Texas',
  "l want to make sure the Patel family knows I love them like they love me. Make sure the kids in the world know I'm being executed and those kids I've been mentoring keep this fight going. I'm good Warden."),
 (552,
  '28/08/1951',
  '27/05/1979',
  12.0,
  'Bible',
  'Danny Paul',
  999455,
  66,
  '17/07/2003',
  '27/06/2018',
  'White',
  'Harris',
  'Blue',
  194.0,
  '5\' 7"',
  'Brazoria',
  'Texas',
  None)]

In [8]:
#c.execute('''DROP TABLE my_data''')

In [ ]:
#c.close()

In [6]:
c.execute("SELECT * FROM my_data LIMIT 5").fetchall()

[(553,
  '24/09/1983',
  '21/11/2004',
  9.0,
  'Young',
  'Christopher Anthony',
  999508,
  34,
  '31/03/2006',
  '17/07/2018',
  'Black',
  'Bexar',
  'Brown',
  216.0,
  '6\' 1"',
  'Bexar',
  'Texas',
  "l want to make sure the Patel family knows I love them like they love me. Make sure the kids in the world know I'm being executed and those kids I've been mentoring keep this fight going. I'm good Warden."),
 (552,
  '28/08/1951',
  '27/05/1979',
  12.0,
  'Bible',
  'Danny Paul',
  999455,
  66,
  '17/07/2003',
  '27/06/2018',
  'White',
  'Harris',
  'Blue',
  194.0,
  '5\' 7"',
  'Brazoria',
  'Texas',
  None),
 (551,
  '03/04/1981',
  '03/12/2003',
  10.0,
  'Castillo',
  'Juan Edward',
  999502,
  37,
  '27/09/2005',
  '16/05/2018',
  'Hispanic',
  'Bexar',
  'Brown',
  180.0,
  '5\' 11"',
  'Bexar',
  'Texas',
  "To everyone that has been there for me you know who you are. Love y'all. See y'all on the other side.That's it."),
 (550,
  '04/04/1987',
  '06/04/2008',
  11.0,
  'Davila',
  'Erick Daniel',
  999545,
  31,
  '27/02/2009',
  '25/04/2018',
  'Black',
  'Tarrant',
  'Brown',
  161.0,
  '5\' 11"',
  'Tarrant',
  'Texas',
  "Yes, I would like to say nephew it burns huh. You know I might have lost the fight but I'm still a soldier. I still love you all. To my supporters and family y'all hold it down. Ten Toes down right. That's all."),
 (549,
  '26/03/1980',
  '13/09/2005',
  12.0,
  'Rodriguez III',
  'Rosendo',
  999534,
  38,
  '14/05/2008',
  '27/03/2018',
  'Hispanic',
  'Lubbock',
  'Brown',
  198.0,
  '5\' 8"',
  'Wichita',
  'Texas',
  'First I would like to say I have been here since September 2005.  I had the honor and privilege to know many prison guards and staff.  I want to thank all of them.  I would like for everyone to write the people on death row as they are all good men and I am very happy I got to know them.  All of their lives are worth knowing about.\n\nSecondly on February 14th the medical examiner and the chief nurse were engaged in numerous false illegal acts.  They tried to cover up that thousands were wrongfully convicted by Matt Powell, district attorney.  This needs to be brought to justice.\n\nI call upon the FBI to investigate Matt Powell and the Lubbock County Medical Examiner.  Lastly, I was born and raised Catholic and it was not lost upon me that this is Holy Week and last Sunday was Palm Sunday.  Yesterday was my birthday.  Today is the day I join my God and father.  The state may have my body but not my soul.\n\nIn order to save my brothers on death row I call upon Pope Francis and all the people of the world.\n\nLastly, I want everyone to boycott every single business  in the state of Texas until all the businesses are pressed to stop the death penalty.\n\nWith that Lord I commend my spirit.\n\nWarden I am ready to join my father.')]